.product-description {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
}

.product-description p {
    color: var(--gray-font);
}

.product-description a {
    color: var(--primary-color);
    transition: all var(--animation-time) var(--animation-type);
}

@media (hover: hover) {
    .product-description a:hover {
        color: var(--secondary-color);
    }
}
